.edukasi-content {
    padding: 20px;
  }
  
  .hero-section {
    text-align: left;
  }
  
  .hero-edu {
    max-width: 100%;
    height: auto;
  }
  
  .hero-image {
    margin-left: 90;
    padding: 90px;
  }

  .text {
    color: #57aa6c;
  }


