.kampanye-content {
    padding: 20px;
  }
  
  .hero-section {
    text-align: left;
  }
  

  .text {
    color: #57aa6c;
  }

  .black-title {
    color: black;
  }
  
  .kampanye {
    padding: 180px;
  }

  