.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-body .btn {
    align-self: flex-end;
    margin-top: auto;
}

.modal-fullscreen {
    max-width: 100%;
    margin: 0;
}

.modal-fullscreen .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-fullscreen .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}

.modal-fullscreen .modal-header {
    justify-content: center;
    text-align: center;
    width: 100%;
}

.modal-fullscreen .modal-title {
    width: 100%;
    text-align: center;
}

.modal-fullscreen .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100%;
    justify-content: flex-start;
    text-align: center;
}

.modal-image {
    max-width: 100%;
    max-height: 50vh; /* Set the image height to half of the viewport height */
    object-fit: cover;
}

.modal-text {
    max-width: 80%;
    text-align: justify;
}
